.portfolio{
  height: 1400px;
  margin-top: 9%;
  margin-left: 9%;
  margin-right: 9%;
  background-color: rgb(212, 243, 243);
  box-shadow: 5px -5px  10px rgb(89, 90, 87);
}
.headport{
  margin-left: 40%;
  margin-top: 4%;
}
.headport hr{
  width: 250px;
  margin-left: 0px;
  height: 6px;
  margin-top: 5px;
  background-color: darkorange;
}

.portsec{
  height: 400px;
  width: 500px;
  margin-left: 80px;
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(89, 90, 87);
  transition: transform 330ms ease-in-out;
}

.portsec:hover{
  transition: transform .2s;
  transform: scale(1.1);
}


@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {

.portfolio{
  height: 2700px;
  width: 95vh;
}
.portsec{
  margin-left: 50px;
}
.locate{
  margin-left: -60px;
}
.headport{
  margin-left: 150px;
}
}